#nav-wrap {
  width: 95%;
  margin: 0 auto;
}
#logo {
  font-weight: bold;
}
main {
  width: 88%;
  margin: 0 auto
}
#filter-group {
  padding-bottom: 10px;
}
#filter-group p {
  margin-bottom: 10px;
}
#wrap {
  margin-top: 25px;
}
#wrap a {
  text-decoration: none;
  color: gray;
}
#wrap a:hover {
  text-decoration: underline;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
#title {
  width: 90%;
  font-size: 14px;
  margin-top: 15px;
}
#prod-img-wrap {
  height: 290px;
  overflow-y: hidden;
}
#price, h5 {
  font-weight: bold;
}
#detail-wrap {
  width: 60%;
}
#prodTitle {
  margin-top: 30px;
  font-size: 22px;
}

@media screen and (max-width: 576px) {
  #nav-wrap {
    width: 90%;
  }
  main {
    width: 90%;
  }
  #filter-group {
    margin-top: 10px;
  }
  #detail-wrap {
    width: 90%;
    margin: 0 auto;
  }
  #prodTitle {
    margin-top: 20px;
  }
  #desc {
    margin-top: 20px;
  }
  optgroup {
    font-size: 12px !important;
  }
}